<div class="container singlebook">
  <div class="row">
    <div class="table table-responsive">
    <table class="table table-hover table-inverse table-bordered">
      <thead>
        <tr><h3 class="bookhead"><strong>{{house.house.name}}</strong></h3></tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-info"><strong>URL :</strong></td>
          <td class="table-success">{{house.house.url}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>REGION :</strong></td>
          <td class="table-success">{{house.house.region}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>COAT OF ARMS :</strong></td>
          <td class="table-success">{{house.house.coatOfArms}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>TITLES :</strong></td>
          <td class="table-success">{{house.house.titles}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>CURRENT LORD :</strong></td>
          <td class="table-success">{{house.house.currentLord}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>HEIR :</strong></td>
          <td class="table-success">{{house.house.heir}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>OVERLORD :</strong></td>
          <td class="table-success">{{house.house.overlord}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>FOUNDED :</strong></td>
          <td class="table-success">{{house.house.founded}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>FOUNDER :</strong></td>
          <td class="table-success">{{house.house.founder}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>DIED OUT :</strong></td>
          <td class="table-success">{{house.house.diedOut}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>ANCESTRAL WEAPONS :</strong></td>
          <td class="table-success">{{house.house.ancestralWeapons}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>CADET BRANCHES :</strong></td>
          <td class="table-success">{{house.house.branches}}</td>
        </tr>

      </tbody>
    </table>
    </div>
  </div>
  </div>


  <div class="text-center" style="margin-top:20px;">
    <a ng-href="#about">
      <button class="btn btn-primary">
        Go Back
      </button>
    </a>
  </div>
house
