<div class="container singlebook">
  <div class="row">
    <div class="table table-responsive">
    <table class="table table-hover table-inverse table-bordered">
      <thead>
        <tr><h3 class="bookhead"><strong>{{char.char.name}}</strong></h3></tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-info"><strong>URL :</strong></td>
          <td class="table-success">{{char.char.url}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>GENDER :</strong></td>
          <td class="table-success">{{char.char.gender}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>CULTURE :</strong></td>
          <td class="table-success">{{char.char.culture}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>BORN :</strong></td>
          <td class="table-success">{{char.char.born}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>DIED :</strong></td>
          <td class="table-success">{{char.char.died}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>TITLES :</strong></td>
          <td class="table-success">{{char.char.titles}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>ALIASES :</strong></td>
          <td class="table-success">{{char.char.aliases}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>FATHER :</strong></td>
          <td class="table-success">{{char.char.father}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>MOTHER :</strong></td>
          <td class="table-success">{{char.char.mother}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>SPOUSE :</strong></td>
          <td class="table-success">{{char.char.spouse}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>PLAYED BY :</strong></td>
          <td class="table-success">{{char.char.playedBy}}</td>
        </tr>
        <tr>
          <td class="table-info"><strong>TV SERIES :</strong></td>
          <td class="table-success">{{char.char.tvSeries}}</td>
        </tr>

      </tbody>
    </table>
    </div>
  </div>
  </div>


  <div class="text-center" style="margin-top:20px;">
    <a ng-href="#about">
      <button class="btn btn-primary">
        Go Back
      </button>
    </a>
  </div>
